:root {
  --background-colour: green;

  --border-radius: 12px;

  /* --grid-columns and --grid-rows are only called and used in the js file 
  but i just realised now and its too late to change them to variables in that file */
  --grid-columns: 2;
  --grid-rows: 2;

  --grid-gap: 18px;

  --grid-column-widths: 50px 50px 50px;
  --grid-row-heights: 50px 50px 50px;
}

/* setting all objects to have a default margin and padding of zero and 
set the font of the page to gill sans */
* {
  margin: 0px;
  padding: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* sets the background of the whole page */
body {
  background: #222222;
}

/* bg colours to test layout */

/* body {
  background: var(--background-colour);
}
header {
  background: red;
}
.title {
  background: blue;
}
.canvasTools {
  background: lightblue;
}
.colourTools {
  background: purple;
}
main {
  background: orange;
}
.grid {
  background: yellow;
}
.gridItem {
  background: white;
} */

/* styling */

/* set the header height and organise the divs inside */
header {
  height: 100px;
  display: flex;
  flex-direction: row;
}

/* sets the elements inside the header to have a small margin, 
rounded corners, and a light grey background */
header > * {
  margin: 4px;
  border-radius: var(--border-radius);
  background: #444444;
}

/* sets the size and alignment of the title div box */
.title {
  width: 12rem;
  align-content: center;
  text-align: center;
  padding: 4px;
}
/* sets the text style of the type inside the title element */
.title a {
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

/* sets the flex and direction of the objects inside each toolbar */
.canvasTools,
.colourTools {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* sets the style of the text inside the toolbars */
.canvasTools > *,
.colourTools > * {
  margin-left: 8px;
  margin-right: 8px;
  text-align: center;
  color: white;
}

/* sets the size and style of the buttons and symbols in the buttons */
button {
  width: 36px;
  font-weight: bolder;
  cursor: pointer;
}

/* sets the style for the colourbox elements */
.colourBox {
  width: 4rem;
  height: 70%;
  border-radius: var(--border-radius);
  cursor: pointer;
  align-content: center;
}

/* sets the background colours for the colourbox objects. 
the script takes the colour from these attributes when changing
the gridItems cbackground color. some colourboxes have their text colour 
set to black so they are easier to read.*/
.red {
  background: red;
}

.orange {
  background: orange;
  color: black;
}

.yellow {
  background: yellow;
  color: black;
}

.green {
  background: green;
}

.blue {
  background: blue;
}

.purple {
  background: purple;
}

.white {
  background: white;
  color: black;
}

.black {
  background: black;
}

/* sets the size and alignment for the main element from below the header to the bottom of the page */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 84vh;
}

/* sets tthe default settings for the grid as well as setting 
minimum and maximum sizes to avoid the grid from breaking to where it cant
be fixed without the page being reloaded*/
.grid {
  display: grid;
  max-height: 95%;
  min-height: 3%;
  max-width: 95%;
  min-width: 3%;
  grid-template-columns: var(--grid-column-widths);
  grid-template-rows: var(--grid-row-heights);
  gap: var(--grid-gap);
}

/* sets the minimum sizes for each gridItem and changes the cursor to resize when hovering */
.gridItem {
  min-height: 18px;
  min-width: 18px;
  cursor: nwse-resize;
  background: white;
}
